<h2>About</h2>

<p class="px-4">About <strong>Thai Huynh</strong> - the developer</p>
<hr />
<p class="px-4">My career highlights include the following:</p>

<ul>
  <li>
    <strong>4 years’</strong> experience in managing and executing projects for
    an international construction company based in Australia.
  </li>
  <li>
    As a <strong>lead civil engineer</strong>, I have a keen eye for details and
    always strive for perfection.
  </li>
  <li>Strong organizational, time management, and problem-solving skills.</li>
  <li>Sound knowledge of the principles and techniques of programming.</li>
</ul>

<p class="px-4">
  Currently, I am in my third year at Seneca College in the Computer Programming
  and Analysis program.
</p>
