<h1>{{ album.name }}</h1>

<p>
  Full track listing for {{ album.name }}<br />Click the &nbsp;<mat-icon
    role="img"
    mat-list-icon=""
    class="mat-icon notranslate mat-list-icon material-icons mat-icon-no-color"
    aria-hidden="true"
    data-mat-icon-type="font"
    >queue_music</mat-icon
  >&nbsp; icon to <strong>add</strong> a song from your favourites list
</p>
<br />

<mat-card>
  <mat-card-content fxLayout="row wrap" fxLayout.xs="column">
    <div fxflex>
      <img
        src="{{ album.images[0].url }}"
        alt="album cover"
        [style.margin]="'10px'"
        [style.max-width]="'90%'"
      />
    </div>
    <div fxFlex>
      <div [style.min-width]="'300px'" [style.margin]="'10px'">
        <strong>Record Label: </strong> {{ album.label }}<br />
        <strong>Release Date: </strong>
        {{ album.release_date | date: "shortDate" }}<br /><br />
        <strong>Tracks:</strong> {{ album.total_tracks }}<br />
        <strong>Popularity: </strong>{{ album.popularity }}<br /><br />

        <mat-chip-list aria-label="Artist selection">
          <div *ngFor="let a of album.artists">
            <mat-chip
              ><a [routerLink]="['/artist', a.id]">{{ a.name }}</a></mat-chip
            >
          </div>
        </mat-chip-list>
        <br />

        <div *ngFor="let c of album.copyrights">
          <div>{{ c.text }}</div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br /><br />
<h2>Track Listing</h2>

<mat-list *ngFor="let i of album.tracks.items">
  <!-- Single "Responsive" Material List Item-->
  <mat-list-item>
    <mat-icon mat-list-icon (click)="addToFavourites(i.id)">queue_music</mat-icon>
    <div mat-line>
      <mat-card>
        <mat-card-content
          >{{ i.track_number }}: {{ i.name }} -
          {{ (i.duration_ms / 60000).toFixed(2) }}
        </mat-card-content>
        <div *ngIf="i.preview_url"><br /><audio controls [src]="i.preview_url"></audio></div>
      </mat-card>
      
    </div>

  </mat-list-item>
  <!-- -->
</mat-list>
